
<mat-card>
    <div class="head">
        <h2>Do you Want Save Your Data</h2>
    </div>
    <div class="btn">
        <button class="btn1" mat-raised-button color="primary" (click) = "saveButton()">Save</button> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button class="btn2" mat-raised-button color="warn" (click) ="onNoClick()">Cancel</button>

    </div>

</mat-card>
<!-- 
<div class="container">
    <div class="row">
      <div class="col">
        <h2>Do you Want Save Your Data</h2>
      </div>
     
    </div>
    <div class="row">
      <div class="col">
       <button class="btn1" mat-raised-button color="primary" (click) = "saveButton()">Save</button>
      </div>
      <div class="col">
       
      </div>
    </div>
  </div>
 -->
